body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    font-size: 0.8rem;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

p {
    margin: 0.1rem 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: rgb(37, 239, 131);
    color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    padding: 1rem;
    padding-bottom: 0;
}

.nav-icon {
    width: 1.5rem;
    align-self: flex-start;
}

.header-img {
    width: 180px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}

.collection {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    aspect-ratio: 1 / 1.8;
    margin: 5% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
}

.card .card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card a {
    background-color: rgb(219, 68, 83);
    color: white;
    text-align: center;
    width: fit-content;
    padding: 7px 15px;
    margin-top: auto;
    border-radius: 3px;
    font-size: 0.7rem;
}

.featured {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card.large {
    width: 50%;
    background-color: white;
    color: black;
    aspect-ratio: 1 / 1.6;
}

.card.large .card-text {
    padding: 4%;
}

.card.large a {
    padding: 15px 20px;
}

footer {
    background-color: rgb(53, 53, 53);
    height: 180px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    gap: 12%
}

footer article {
    display: flex;
    flex-direction: column;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}